@model ProductsWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Welcome, @Model.LoggedUser.FirstName</h1>
            </div>
            <div class="col-sm-2">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Other Users's Products</h2>
            </div>
        </div>
        <div class="row">
            <table class="table col-sm-10 offset-sm-1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Customers</th>
                        <th>User</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Product product in Model.AllProducts)
                    {
                            <tr>
                                <td>@product.ProductId</td>
                                <td><a asp-action="OneProduct" asp-controller="Home" asp-route-id="@product.ProductId">@product.ProductName</a></td>
                            <td>
                                <ul>
                                    @foreach(Order customer in product.Orders)
                                    {
                                        <li>@customer.Customer.CustomerName</li>
                                    }
                                </ul>
                            </td>
                                <td>@product.User.FirstName @product.User.LastName</td>
                                <td>@product.ReleaseDate.ToString("MMMM d, yyyy")</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <a asp-action="NewProduct" asp-controller="Home">Add a New Product</a>
            </div>
            <div class="col-sm-5">
                <a asp-action="NewCustomer" asp-controller="Home">Add a New Customer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Your Products:</h2>
            </div>
            <table class="table col-sm-10 offset-sm-1">
                <tbody>
                    @foreach(Product product in Model.LoggedUser.Products)
                    {
                        <tr>
                            <td>@product.ProductId</td>
                            <td><a asp-action="OneProduct" asp-controller="Home" asp-route-id="@product.ProductId">@product.ProductName</a></td>
                            <td>@product.User.FirstName @product.User.LastName</td>
                            <td>@product.ReleaseDate.ToString("MMMM d, yyyy")</td>
                            <td>
                                <a asp-action="EditProduct" asp-controller="Home" asp-route-id="@product.ProductId">Edit</a> |
                                <a asp-action="DeleteProduct" asp-controller="Home" asp-route-id="@product.ProductId">Delete</a>
                            </td>
                        </tr>
                        <h2>Order History:</h2>
                        <tr>
                            <td>
                                @foreach(Order order in product.Orders)
                                {
                                    <div>@order.Customer.CustomerName purchased @order.OrderQuantity of @order.Product.ProductName</div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>