<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Women Leagues</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>League Name</th>
                                    <th>League Sport</th>
                                </tr>
                                @foreach(var w in ViewBag.WomensLeagues)
                                {
                                    <tr>
                                        <td>@w.Name</td>
                                        <td>@w.Sport</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div> 
            <li>...all leagues where sport is any type of hockey</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Hockey Leagues</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Hockey League Names</th>
                                </tr>
                                @foreach(var h in ViewBag.HockeyLeagues)
                                {
                                    <tr>
                                        <td>@h.Name</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>           
                </div>
            <li>...all leagues where sport is something OTHER THAN football</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Leagues Not Football</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>League Name</th>
                                    <th>League Sport</th>
                                </tr>
                                @foreach(var w in ViewBag.NotFootballLeagues)
                                {
                                    <tr>
                                        <td>@w.Name</td>
                                        <td>@w.Sport</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all leagues that call themselves "conferences"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Conference Leagues</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>League Name</th>
                                    <th>League Sport</th>
                                </tr>
                                @foreach(var c in ViewBag.ConferenceLeagues)
                                {
                                    <tr>
                                        <td>@c.Name</td>
                                        <td>@c.Sport</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all leagues in the Atlantic region</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Atlantic Leagues</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>League Name</th>
                                    <th>League Sport</th>
                                </tr>
                                @foreach(var al in ViewBag.AtlanticLeagues)
                                {
                                    <tr>
                                        <td>@al.Name</td>
                                        <td>@al.Sport</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams based in Dallas</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Dallas Teams</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name</th>
                                    <th>Team Sport</th>
                                </tr>
                                @foreach(var d in ViewBag.DallasTeams)
                                {
                                    <tr>
                                        <td>@d.TeamName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams named the Raptors</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Raptors Teams</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name</th>
                                </tr>
                                @foreach(var r in ViewBag.RaptorsTeams)
                                {
                                    <tr>
                                        <td>@r.TeamName</td>
                                        <td>@r.Location</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams whose location includes "City"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Teams with Location that has "City"</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name</th>
                                </tr>
                                @foreach(var c in ViewBag.CityTeams)
                                {
                                    <tr>
                                        <td>@c.TeamName</td>
                                        <td>@c.Location</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams whose names begin with "T"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Teams that start with "T"</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name</th>
                                </tr>
                                @foreach(var t in ViewBag.TStartTeams)
                                {
                                    <tr>
                                        <td>@t.TeamName</td>
                                        <td>@t.Location</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams, ordered alphabetically by location</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Team Names Alphabetically Ascending By Location</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name Alphabatized by location</th>
                                </tr>
                                @foreach(var abc in ViewBag.AscendingTeamsByLocation)
                                {
                                    <tr>
                                        <td>@(abc.TeamName)</td>
                                    </tr>
                                }    
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Teams In Descending Order</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Team Name</th>
                                </tr>
                                @foreach(var de in ViewBag.descendingTeamOrder)
                                {
                                    <tr>
                                        <td>@de.TeamName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...every player with last name "Cooper"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Players with a last name of Cooper</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                @foreach(var p in ViewBag.LastNameCooperPlayers)
                                {
                                    <tr>
                                        <td>@p.FirstName</td>
                                        <td>@p.LastName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...every player with first name "Joshua"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Players with a first name of Joshua</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                @foreach(var p in ViewBag.FirstNameJoshuaPlayers)
                                {
                                    <tr>
                                        <td>@p.FirstName</td>
                                        <td>@p.LastName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...every player with last name "Cooper" except first name of "Joshua"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Players with a last name of Cooper except Joshua</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                @foreach(var p in ViewBag.CooperMinusJoshuaPlayers)
                                {
                                    <tr>
                                        <td>@p.FirstName</td>
                                        <td>@p.LastName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>All Players with first names of "Alexander" or "Wyatt"</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                @foreach(var aow in ViewBag.FirstNames)
                                {
                                    <tr>
                                        <td>@aow.FirstName</td>
                                        <td>@aow.LastName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
        </ol>
    </div>
</div>